<a href="https://colab.research.google.com/github/david413py/davidcollect/blob/main/python_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**list**

In [ ]:
list=[1,40,5,38,2,7]
list.sort()
print(list)
list=["oranges","mangoes","apples"]
print(list[2])

[1, 2, 5, 7, 38, 40]
apples

**my** **set**

In [ ]:
#myset={items}
fruits={'oranges','mangoes','passion'}
print(fruits)

{'mangoes', 'passion', 'oranges'}

**units**

In [ ]:
#units=set((units))
units=set(["topo","python","gis",])
print(units)
for x in fruits:
    print(x)
print(["mangoes"in fruits])
print(["avocadoes" in fruits])
print(["avocadoes"not in fruits])
fruits.add("avocadoes")
print(fruits)

{'python', 'gis', 'topo'}
mangoes
passion
oranges
[True]
[False]
[True]
{'avocadoes', 'mangoes', 'passion', 'oranges'}

**addsets**

In [ ]:
#addsets
year1={"python","gis"}
year2={"maths","geo"}
year1.update(year2)
print(year1)
fruits.remove("passion")
print(fruits)
print(fruits)

{'maths', 'geo', 'python', 'gis'}
{'avocadoes', 'mangoes', 'oranges'}
{'avocadoes', 'mangoes', 'oranges'}

**tuples**

In [ ]:
#tuples
fruits=("chichi","kiwi","mango")
print(fruits)
print(len(fruits))
fruits=("chichi",)
print(fruits)
mytuple=('chichi','1','True','python')
print(mytuple)
fruits=("chichi","kiwi","mango")
print(fruits[0])
print(fruits[-2])

('chichi', 'kiwi', 'mango')
3
('chichi',)
('chichi', '1', 'True', 'python')
chichi
kiwi

**update** **tuple**

In [ ]:
#update tuple
grades=(10,50,100)
gradelist= [10,50,100]
gradelist.append(80)
print(gradelist)
gradelist.remove(100)
print(gradelist)

[10, 50, 100, 80]
[10, 50, 80]

**dictionaries**

In [ ]:
#dictionary
david=dict(age=22,
       height=1.2,
       team="bravo")
print(david)
david=dict(age=22,height=1.2,team="bravo")
print(david)
print(david["height"])
print(david.get("age"))
print(david.keys())
print(david.values())
david["height"]=1.2
print(david)
david.update({"age":24})
print(david)

{'age': 22, 'height': 1.2, 'team': 'bravo'}
{'age': 22, 'height': 1.2, 'team': 'bravo'}
1.2
22
dict_keys(['age', 'height', 'team'])
dict_values([22, 1.2, 'bravo'])
{'age': 22, 'height': 1.2, 'team': 'bravo'}
{'age': 24, 'height': 1.2, 'team': 'bravo'}